parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
    excludePaths:
        - config/reference.php

services:
    - class: App\Tests\Architecture\ComponentIsolationRule
      tags: [phpat.test]
