.editor {
  min-height: 300px;
}

.editor :global(.ProseMirror) > :last-child {
  margin-bottom: 0;
}

.editor :global(.tiptap-editor) p {
  color: var(--color-text);
}

.editor :global(.is-empty)[data-placeholder]::before {
  content: attr(data-placeholder);
  float: left;
  color: var(--color-text-secondary);
  pointer-events: none;
  height: 0;
}

.skeletonForm {
  max-width: 64rem;
  position: relative;
}

.skeletonBody {
  margin-top: var(--space-xl);
}

@media (min-width: 769px) {
  .editor {
    min-height: 400px;
  }
}
